<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Resume Management Website</title>
    {{!-- <link rel="stylesheet" href=""> --}}
</head>

<body>
    <header>
      {{!-- <h1>A Simple User Login System</h1> --}}
    </header>
    <main>
        <div>
          {{{body}}}
        </div>
    </main>
    <footer>
  {{!-- ?My name is Xiao Zhao and ID is 10442648. --}}
    </footer>
   
</body>

</html>