<div>
  <form method="POST">
    <p>username:</p>
    <input id ="username" name = "username" placeholder="userName" type="text"></input>
     <p>password:</p>
    <input id ="password" name = "password" placeholder="password" type="password"></input>
    <button>submit</button>
  </form>
</div>