<div>
  <h1>Sign up</h1>
  <form method="POST">
    <p>username:</p>
    <input id ="username" name = "username" placeholder="userName" type="text"></input>
    <p>email:</p>
    <input id ="email" name = "email" placeholder="email" type="text"></input>
    <p>personl goal:</p>
    <input id ="goal" name = "goal" placeholder="goal" type="text"></input>
    <p>password:</p>
    <input id ="password1" name = "password1" placeholder="" type="password"></input>
    <p>confirm password:</p>
    <input id ="password2" name = "password2" placeholder="" type="password"></input>
    </br>
    <button>submit</button>
  </form>
</div>